html,
body {
  height: 100%;  
}

body {
  overflow: hidden;
  background-color: black;
}

.logo-container{
    /* Center and scale the image nicely */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.logo{
    width: auto;
    height: 75%;
    image-rendering: pixelated;
}