@font-face {
    font-family: FelixFont;
    src: url(./content/WizBiz.ttf);
  }

  ::-webkit-scrollbar {
    background-color: black;
    width: 10px;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: #5a5744;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff392;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff392
  }

html,body{
    height: 100%;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.logo-container{
    width: 100vw;
    height: 75vh;
    margin: 1.5em;
}

@media (max-width: 860px) {
    .logo-container{
        margin:0;
    }
}

.logo{
    width: 100vw;
    height: 20vh;
    image-rendering: pixelated;
    align-self: center;
}

.logo-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mc_embed_signup{
    background: black; 
    clear:left; 
    font-family:FelixFont,Arial,sans-serif; 
    font-size: 1.5em;
    color:#fff392;
    text-transform: uppercase;
    margin: 1.5em;
}

#mc-embedded-subscribe{
    background-color: #fff392;
    color: black;
    font-family:FelixFont,Arial,sans-serif; 
    font-size:1.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
}

input{
    background-color: black;
    color: #fff392;
    font-family:FelixFont,Arial,sans-serif; 
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    text-transform: uppercase;

    border: #fff392 2px solid;
    margin: 0.5em;

    cursor: default;
}

.desc{
    font-family:FelixFont,Arial,sans-serif; 
    font-size: 1.5em;
    color:#fff392;
    text-transform: uppercase;
    margin: 4em 0 4em 0;
    width: 80vw;
}

#name-label{
    margin-right: 4em;
}

.screenshot-container{
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.screenshot{
    width: 75vw;
    height: auto;
    image-rendering: pixelated;
    align-self: center;
    margin: 0.5em;
}

@media (max-width: 860px) {
    .screenshot-container{
        margin: 0;
    }

    .screenshot{
        width: 100vw;
    }
}

.heading{
    font-family:FelixFont,Arial,sans-serif; 
    font-size: 4em;
    color:#fff392;
    text-transform: uppercase;
    margin-left: 1.5em;
    margin-top: 1.5em;
}

.subheading{
    font-family:FelixFont,Arial,sans-serif; 
    font-size: 3em;
    color:#fff392;
    text-transform: uppercase;
    padding-left: 0.5em;
}

@media (max-width: 860px) {
    .heading{
        margin-left: 0;
    }

    .subheading{
      padding-left: 0;
    }
}

.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1.5em;
    width: 100vw;

    color:#fff392;
}

.character{
  width: 20vw;
  margin-left: 3em;
  padding-left: 1.5em;
}


@media (max-width: 860px) {
  .characters-container{
    margin:0;
  }

  .character{
    width: 90vw;
    margin-left: 0;
    padding-left: 0.5em;
  }
}

.char-desc{
  padding-left: 1.5em;
  padding-top: 1em;
  font-family:FelixFont,Arial,sans-serif; 
  text-transform: uppercase;
  text-align: left;
}

.character-img{
  width: 20vw;
  height: auto;
  image-rendering: pixelated;
}

@media (max-width: 860px) {
  .char-desc{
    padding-left: 0;
  }

  .character-img{
    width: 100vw;
    height: auto;
  }
}